{
    "tarantula":{
        "name":"game",
        "pingTimeout":1000,
        "retryTimeout":250,
        "retryCount":3,
        "retryInterval":500,
        "ackTimeout":5000,
        "messageIdOffset":50000,
        "schedulingPoolSize":1,
        "messagingPoolSize":3,
        "application":"com.icodesoftware.integration.game.DynamicBattle",
        "maxConnections":10,
        "maxSessionsPerChannel":10
    },
    "push":{
        "protocol":"http",
        "host":"192.168.1.6",
        "port":8090,
        "path":"/push",
        "accessKey":"BDS03/ed886085082c438696c5bb9691b3845f-B35879B771B0BAE6AA5F434FE3AC09068906D79B"
    },
    "game":{
        "protocol":"http",
        "host":"192.168.1.6",
        "port":8090,
        "path":"/server",
        "accessKey":"BDS03/c00f5dd47a7641fca64634f7dc8e0142-08158038C5A81E369AF546936029D2DC2D979BC8"
    },
    "connection":{
        "host":"10.0.0.234","port":16393,"type":"websocket","secured":false,"maxConnections":100,"server":{"host":"10.0.0.234","binding":"10.0.0.234","port":16393,"type":"websocket","secured":false}
    }
}