{
    "tarantula":{
        "name":"game",
        "pingTimeout":1000,
        "retryTimeout":250,
        "retryCount":3,
        "retryInterval":500,
        "ackTimeout":5000,
        "messageIdOffset":50000,
        "schedulingPoolSize":1,
        "messagingPoolSize":3,
        "application":"com.icodesoftware.integration.game.DynamicBattle",
        "maxConnections":3,
        "maxSessionsPerChannel":10
    },
    "push":{
        "protocol":"http",
        "host":"192.168.1.6",
        "port":8090,
        "path":"push",
        "accessKey":"BDS01/821ce5749412488e824bb0880f705b74-D0DA3A670C0242E41E58F1AFE43BB3B5DA568F88"
    },
    "game":{
        "protocol":"http",
        "host":"192.168.1.6",
        "port":8090,
        "path":"server",
        "accessKey":"BDS03/2ac80515b82741509a53198580d29a89-2E884C8D617B4EC259EA948103BF2D6C30F1E7E0"
    },
    "connection":{
        "host":"10.0.0.234","port":16393,"type":"websocket","secured":false,"maxConnections":100,"server":{"host":"10.0.0.234","binding":"10.0.0.234","port":16393,"type":"websocket","secured":false}
    }
}