<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <test thread-count="5" name="gamecluster">
        <packages>
            <package name="com.tarantula.test"></package>
        </packages>
    </test> <!-- gamecluster -->
</suite> <!-- Default Suite -->
